@media (min-width:769px) {
    .dbutton {
      width: 200px;
      padding: 10px;
      height: auto;
    }
  }
  
  @media (max-width:768px) {
    .dbutton {
      width:105px;
      margin-bottom:10px;
      
    }
  }
  